/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 50px;
  }
  
  .product-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-width: 1200px;
      justify-content: space-around;
      /* width: 30%; */
    }
    
    .product {
      padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(30% - 20px);
    text-align: center;
  }
  
  .product img {
    width: 60%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .product-details {
    padding: 15px;
  }
  
  .product-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-price {
    color: #007bff;
    font-size: 14px;
    margin: 10px;
  }
  
  .product-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;

    transition: background-color 0.3s;
  }
  
  .product-button:hover {
    background-color: #0056b3;
  }
  